<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="file_path" value="C:\tmp\test\1.txt"/>
        <add key="loop_interval_ms" value="500"/>
    </appSettings>
</configuration>